body{
    margin: 0;
}
a{
	text-decoration:none
}
.topbar {
    backface-visibility: hidden;
    border-bottom: 1px solid #e6ecf0;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
}
.global-nav {
    border-bottom: 1px solid rgba(0,0,0,0.15);
    height: 46px;
    position: relative;
    width: 100%;
}
.navigation{
    overflow: hidden;
}
.navigation > li{
	float: left;
	list-style: none;
	display: list-item;
	padding-left: 20px;
}

.container {
    position: relative;
    width: 80%;
}

.global-nav-inner {
    background: #fff;
}

.ProfileCanopy-headerBg {
    position: absolute;
    top: 46px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}
.ProfileCanopy-headerBg img {
    position: absolute;
    left: 0;
    right: 0;
    top: -9999px;
    bottom: -9999px;
    margin: auto 0;
    width: 100%;
}


/*avatar style*/
.ProfileCanopy-header, .AppContainer {
    height: 100%;
    position: relative;
    margin: 0 auto;
}
.AppContainer{
    width: 80%;
}

.ProfileCanopy-avatar {
    bottom: -87px;
    left: 10px;
    position: absolute;
    transition: bottom .3s;
    z-index: 3;
}
.ProfileAvatar {
    background: #fff;
    border: 5px solid #fff;
    border-radius: 12px;
    box-shadow: 0 1px 1px rgba(136,153,166,0.15);
    height: 200px;
    position: relative;
    width: 200px;
}
.ProfileAvatar-image {
    -moz-force-broken-image-icon: 1;
    border-radius: 8px;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}


/*show*/
.show{
    width: 400px;
    margin: 100px auto ;
    text-align: center;
}
.show img{
    width: 150px
}
.show hr{
    width: 600px;
    margin-left: -90px;
    margin-top: 20px;
}


@media (min-width: 1370px){
	.ProfileCanopy-header,.ProfileCanopy-headerBg {
	    height: 360px;
	}
}

@media (min-width: 1200px){
	.ProfileCanopy-header, .ProfileCanopy-headerBg {
	    height: 320px;
	}
}

@media (min-width: 1100px){
	.ProfileCanopy-header, .ProfileCanopy-headerBg {
	    height: 300px;
	}
}

@media screen and (max-width: 1100px) and (min-width: 740px){
	.ProfileCanopy-header, .ProfileCanopy-headerBg {
	    height: 270px;
	}
}

@media only screen
and (min-width : 320px)
and (max-width : 736px) {
	.ProfileCanopy-header, .ProfileCanopy-headerBg{
		height: 240px;
	}
	.ProfileCanopy-headerBg img {
    	position: none;
	}
}
